<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kamfu.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kamfu.entity.RolePermissionTR">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumn">
       *
    </sql>


    <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="BaseColumn"/> 
        from role_permission_tr where 1=1
    	and role_id=#{roleId}
    </select>
    
  
</mapper>
